body{
    background-image: url("bg.jpg");
    background-position: 0%;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  text-align: center;
}

.container {
  background-color: rgba(54, 51, 51, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
    color: #cb9d1d;
}

h1 {
  color: #d5a335;
  margin-bottom: 20px;
}

button {
  background-color: #4a4a49;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #cb9d1d;
  box-shadow: 0 0 10px #cb9d1d;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

a {
  color: #ffffff;
  text-decoration: none;
  
}

#username, #email, #password {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  ;
}
label {
  font-size: 25px;
}