body{
    background-image: url("bg.jpg");
    background-position: 0%;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  text-align: center;

}


.text-2 {
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
      color: rgb(253, 148, 0);
}

.text-3 {
    font-size: 40px;
      color: rgb(253, 148, 0);
}

a {
    color: rgb(255, 187, 0);
    text-decoration: none;
}

.text-3 {
    font-size: 40px;
}

a {
    color: rgb(255, 145, 0);
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

a:hover {
    background: rgb(255, 166, 0);
    color: black;
}

.container {
    background-color: rgba(54, 51, 51, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
      color: #cb9d1d;
}